[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "fill-column-indicator"]
	path = lib/fill-column-indicator
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "paren-face"]
	path = lib/paren-face
	url = git@github.com:tarsius/paren-face.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = git@github.com:politza/pdf-tools.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
